/* Приветственное окно (темная тема) */
QDialog {
    background-color: #1b1b1b;
    color: white;
}

QLabel {
    color: #e0e0e0;
    font-size: 16px;
    margin-bottom: 10px;
}

QPushButton {
    background-color: #64b5f6;
    color: black;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #5aa5e6;
}
